.FlatView {
    font-size: 14px;
}

.FlatView input[type="search"].search {
    width: 100%;
    color: white;
    font-family: inherit;
    font-size: 0.9em;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border .25s ease-in-out;
}
.FlatView input[type="search"].search::placeholder {
    color: #CCC;
}

.FlatView ul {
    padding: 0;
    margin: 0;
    list-style: none;
    user-select: none;
}

.FlatView li:not(.disabled) {
    cursor: pointer;
}

.FlatView li .item {
    display: block;
    transition: all 0.25s ease-in-out;
}

.FlatView li:not(.category) > .item {
    padding: 5px 0px;
}

.FlatView li.category > .item {
    background: white;
    color: black;
    padding: 5px 15px;
    font-weight: bold;
}
.FlatView li.selected > .item {
    color: white;
    background-color: #f44336;
}
.FlatView li:not(.category):not(.selected).disabled > .item {
    background: #CCC;
    color: #888;
}

.FlatView li:not(.disabled):not(.selected) > .item:hover {
    color: #f44336;
}
.FlatView li.selected > .item:hover {
    color: rgb(224, 224, 224);
}

.FlatView li.category > .item span.icons {
    position: absolute;
    right: 15px;
}

.FlatView li.category > .item {
    cursor: pointer;
}
.FlatView li.category > .item:hover  {
    color: #f44336;
}
