@import "variables.css";

.tree-sample {
    border: 2px solid var(--darkerColor);
    margin: 5px 0px;

    & li > .item {
        cursor: pointer;
        display: block;
        padding: 2px 5px;
        transition: all 0.25s;
    }
    & li[draggable="true"] > .item:hover {
        background-color: crimson;
        color: white;
    }
}
