@keyframes spin {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

/* Search bar */

.ItemTree > input[type="search"] {
    width: 100%;
    background: rgba(0,0,0,0.05);
    height: 3em;
    border-width: 2px;
    transition: border 0.5s;
}

/* Persistent styles */
.ItemTree {
    box-shadow: 0px 0px 10px #DADADA;
    white-space: nowrap;
}
.ItemTree ul {
    list-style: none;
}
.ItemTree li {
    min-width: 100px;
    transition: all 0.25s ease-in-out;
}
.ItemTree ul li a {
    color: #222;
}
.ItemTree ul li > .item > a {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 55px);
    margin-right: 30px;
    padding: 10px 5px;
    text-decoration: none;
    transition: all 0.25s;
}

.ItemTree ul li:not(.disabled) {
    cursor: pointer;
}

.ItemTree ul li.selected > .item > a {
    color: crimson;
}
.ItemTree ul li.selected> .item > a:hover {
    color: #aaa;
}
.ItemTree ul li:not(.disabled)> .item > a:hover {
    color: #e26f6f;
}

/* Root elements */

.ItemTree ul.depth-0 {
    padding: 20px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.4);
    user-select: none;
    transition: all 0.25s;
}

/* Categories : Nodes with children */

.ItemTree li.category > .item {
    display: block;
    margin-bottom: 5px;
    transition: all 0.25s ease-in-out;
}
.ItemTree li.category:not(.folded) > .item {
    border-bottom: 1px solid crimson;
}

/* Category opener */

.ItemTree .opener {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.25s;
}
.ItemTree .opener::after {
    content: '+';
    font-family: monospace;
}
.ItemTree li.category.async > .item > .opener::after {
    content: '!';
}
.ItemTree .opener:hover {
    color: #e26f6f;
}
.ItemTree li.category:not(.folded) > .item > .opener {
    color: crimson;
    transform: rotate(45deg);
}
.ItemTree li.category.loading > .item > .opener {
    animation:spin 1s infinite;
}

/* Animations on fold / unfold */

.ItemTreeTransition-enter {
    opacity: 0;
    transform: translateX(-20px) scale(0);
    transform-origin: top;
    transition: all .3s ease-in-out;
}
.ItemTreeTransition-enter-active {
    opacity: 1;
    transform: translateX(0px) scale(1);
}
.ItemTreeTransition-leave {
    transition: all .3s ease-in-out;
    transform-origin: top;
}
.ItemTreeTransition-leave-active {
    opacity: 0;
    transform: translateX(-20px) scale(0);
}

/* Drag'n'drop */

.ItemTree li.dragover, .ItemTree ul.dragover {
    box-shadow: 0px 0px 5px #CCC
}
.ItemTree ul.dragover {
    background-color: rgba(200, 200, 200, 0.3);
}
.ItemTree li.dragover {
    background-color: rgba(100, 100, 100, 0.05);
    padding: 0px 10px;
}
.ItemTree li.dragover > span.item {
    border-color: transparent;
}
.ItemTree li.nodrop {
    box-shadow: 0px 0px 5px crimson;
    background-color: rgba(255, 20, 60, 0.1);
    padding: 0px 10px;
}
