@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

button {
    font-size: 0.7em;
    border: none;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

button.basic-button {
    background: crimson;
    color: white;
    border-radius: 5px;
}

button.control-button {
    border: 1px solid black;
    background: #EEE;
}

button:hover:not([disabled]) {
    background: #e26f6f;
    color: white;
}

a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: crimson;
}

header a:hover {
    color: white;
}

input[type="number"], input[type="text"], input[type="email"], input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #444;
    border-radius: 0px;
    padding: 5px 10px;
    transition: border 0.25s ease-in-out;
}

input[type="number"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus {
    border-color: crimson;
}

select {
    height: 25px;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 0px;
    outline: none;
    color: black;
    min-width: 150px;
    appearance: none;
    border-bottom: 1px solid #444;
    transition: all 0.25s ease-in-out;
}

select:hover {
    background: #e26f6f;
    color: white;
}

header {
    background-color: #222;
    color: crimson;
    font-size: 2em;
    padding: 5px;
    height: 2em;
}
header > span {
    padding-left: 20px;
    line-height: 2em;
}
header .title {
    background-color: rgb(220, 20, 60);
    padding: 0 20px 0 10px;
    border-radius: 20px;
    margin-left: 10px;
    color: #222;
    letter-spacing: 10px;
}
header span.title > img {
    height: 2em;
}
header span.title > * {
    display: inline-block;
    vertical-align: top;
}
header .frameworks {
    float: right;
    margin-right: 20px;
}
header .frameworks > img {
    height: 2em;
    width: 2em;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border-bottom: 5px solid #666;
}
header .frameworks > img:hover {
    border-color: #EEE;
}
header .frameworks > img.selected {
    border-color: crimson;
}

section#content {
    padding: 5px 15px;
}

[disabled] {
    pointer-events: none;
    cursor: initial;
    color: gray;
    background: lightgray !important;
}

.inline-row {
    padding: 20px;
}
.inline-row > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px;
}

.inline-row.controls-row > form > * {
    padding: 5px 10px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 1.1em;
}

/* Components */

div.components-container {
    /*display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid crimson;*/
}

div.components-container > * {
    /*flex: 1 1 auto;*/
}

div.framework-choice {
    margin-top: 30px;
}
div.framework-choice > div {
    background: #222;
    color: #eee;
    padding-bottom: 20px;
    border-bottom: 2px solid crimson;
    border-left: 5px solid #222;
    transition: border .25s ease-in-out, padding .25s ease-in-out;
}
div.framework-choice > div:hover {
    border-left: 10px solid crimson;
    padding-left: 10px;
}
div.framework-choice > div > img {
    width: 100px;
    height: 70px;
}
div.framework-choice > div > * {
    display: inline-block;
}