@import "variables.css";

.Planner {
    &.opener {
        position: fixed;
        z-index: 2;
        top: 0;
        background: rgba(68, 68, 68, 0.33);
        color: var(--lightColor);
        padding: 0px 15px;
        height: 2.9rem;
        font-size: 27px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        & > i {
            display: block;
            line-height: 1.7em;
        }
        &:hover {
            color: var(--accentColor);
            box-shadow: none;
        }
    }

    &.side-panel {
        position: fixed;
        z-index: 1;
        overflow-y: scroll;
        top: 0px;
        width: 300px;
        height: 100%;
        background: var(--darkerColor);
        color: var(--lightColor);
        font-family: var(--serifFont);
        transform: translateX(-300px);

        & h1 {
            text-align: center;
            font-size: 1.5em;
            margin: 0px;
            padding-top: 0px;
            border-bottom: 2px solid var(--accentColor);
            height: 2.9rem;
            line-height: 2em;
        }
        &.opened {
            transform: translateX(0px);
            box-shadow: 0px 0px 10px var(--darkerColor);
        }
    }
    &.side-panel, &.content {
        transition: transform 0.3s ease-in-out;
    }
    &.side-panel.opened + &.content {
        transform: translateX(300px);
    }

    &.heading {
        & > a {
            position: absolute;
            margin-left: 10px;
            opacity: 0;
            font-size: 0.6em;
            transition: opacity 0.25s ease-in-out;

            @media (max-width: 600px) { position: absolute; }
        }
        &:hover > a {
            opacity: 1;
        }
    }

    & div.planner-section {
        margin-bottom: 25px;
    }
}

.PlannerTree {
    line-height: 1.5em;
    font-size: 1.3em;
    padding: 0px 15px;
    overflow-y: scroll;
    height: calc(100% - 55px);

    & ul {
        list-style: none;
        font-size: 0.95em;

        &.depth-0 {
            padding-left: 0px;
        }
    }

    & li {
        white-space: nowrap;
        margin: 0.5em 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: all 0.25s ease-in-out;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.category > .item {
            display:block;
            border-bottom: 1px solid var(--lighterColor);
            transition: border 0.25s ease-in-out;
        }

        & > .item:hover,
        &.selected > .item {
            color: var(--accentColorLight);
            border-color: var(--accentColorLight);

        }
    }
}
