.ComponentSection.section {
    padding: 5px 25px 25px;
    background: #EEE;
    border: 2px solid #444;
    color: black;
    margin: 10px 0px;
}

.ComponentSection.section > h3 {
    font-weight: 500;
    font-size: 1.5em;
}

.ComponentSection.flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    box-shadow: 0px 0px 1px #444;
}

.ComponentSection.flexContainer > * {
    flex: 1;
    min-width: 400px;
}

div.ComponentSection.demo-area {
    background-image: repeating-linear-gradient(145deg, #fff, #fff 30px, #f5f5f5 30px, #f5f5f5 60px);
    padding: 20px;
    align-self: flex-start;
}

div.ComponentSection.code {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.ComponentSection.code .tabs {
    border-bottom: 2px solid crimson;
    font-size: 12px;
}
div.ComponentSection.code .tabs > * {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    cursor: pointer;
    border-top-right-radius: 10px;
    transition: all 0.25s ease-in-out;
}
div.ComponentSection.code .tabs > *:hover {
    background-color: #DDD;
    border-top-right-radius: 0px;
}
div.ComponentSection.code .tabs > *.selected {
    background-color: crimson;
    color: white;
}

div.ComponentSection.code > pre[class*=language-] {
    position: relative;
    height: calc(100% - 50px);
    min-height: 250px;
    margin: 0;
    font-size: 0.9em;
}
div.ComponentSection.code > pre > code {
    position: absolute;
    padding-bottom: 10px;
}
div.ComponentSection.code.showAll > pre > code {
    position: relative;
}