@import "variables.css";

body {
    background: var(--darkerColor);
}

.App-intro {
    font-size: large;
}

.App .chapter {
    background-color: var(--lightColor);
    color: var(--darkerColor);
    @media(max-width: 600px) { margin-bottom: 2px; }
}

.App .chapter h1 {
    padding: 30px 0px;
}
