.bubble-icon {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-right: 20px;
    text-align: center;
    background: #444;
    border-radius: 4em;
    color: #EEE;
    border: 5px solid #BBB;
    box-shadow: 0px 0px 3px #000;
}

.bubble-icon > i {
    font-size: 1.2em;
    font-style: normal;
    display: block;
    text-shadow: 0 0 1px #000;
}

.bubble-icon.red {
    color: rgba(229,57,53 ,1);
}

.bubble-icon.blue {
    color: rgba(30,136,229 ,1);
}

.bubble-icon.green {
    color: rgba(76,175,80 ,1);
}