<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bosket/angular</title>
    <link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <span class="title">
            <img src="../assets/bosket-logo.svg" alt="bosket-logo"/>
            <a href="https://github.com/elbywan/bosket">Bosket</a>
        </span>
        <span class="frameworks">
            <a href="../react/index.html">
                <img src="../assets/react.svg" alt="react-logo" class="react"/>
            </a>
            <a href="../angular/index.html">
                <img src="../assets/angular.svg" alt="angular-logo" class="angular selected"/>
            </a>
        </span>
    </header>
    <section>
        <p>
            Bosket is a collection of tree view components.<br>
            The logic is agnostic, the implementation is framework specific.
        </p>
        <div id="framework-root"></div>
    </section>
</body>

</html>
