<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bosket/angular</title>
    <link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{> ../templates/header angular=true }}
    <div class="subtitle">
        <p>
            Angular implementation of Bosket, a collection of tree view components.
        </p>
    </div>
    <section>
        <div id="framework-root"></div>
    </section>
    {{> ../templates/footer }}
</body>

</html>
