/* Section */

i.fa {
    margin-right: 15px;
    margin-left: 10px;
}

.MenuTreeSection.window {
    background: rgba(245,245,245 ,1);
    color: #222;
    box-shadow: 0px 0px 10px #888;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.MenuTreeSection.upperBar {
    background: #3F51B5;
    height: 40px;
}

.MenuTreeSection.opener {
    color: white;
    line-height: 40px;
    font-size: 27px;
    float: left;
}

.MenuTreeSection.title {
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.MenuTreeSection.side-panel {
    background: #3F51B5;
    color: white;
    position: absolute;
    width: 250px;
    height: calc(100% - 40px);
    margin-top: 40px;
    transition: all 0.25s ease-in-out;
    transform: translateX(-250px);
}

.MenuTreeSection.side-panel.opened {
    transform: translateX(0px);
}

.MenuTreeSection.content {
    transition: all 0.25s ease-in-out;
    transform: translateX(0px);
}

.MenuTreeSection.content.opened {
    transform: translateX(250px);
}

.MenuTreeSection.content h3 {
    margin: 0;
    padding: 10px;
    background-color: #3F51B5;
    color: white;
}

.MenuTreeSection.content article {
    padding: 0px 20px;
}

.MenuTreeSection.content .children > h4 {
    margin: 0px;
    padding: 10px;
}
.MenuTreeSection.content .children > h4 > a {
    transition: color 0.25s ease-in-out;
}
.MenuTreeSection.content .children > h4 > a:hover {
    color: #3F51B5;
}

/* MenuTree component */

.MenuTree {
    position: relative;
    height: 100%;
    user-select: none;
}

.MenuTree ul {
    position: absolute;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: calc(100% - 2px);
    background: #3F51B5;
    top: 2px;
    overflow: hidden;
}

.MenuTree ul:not(.depth-0) {
    margin-top: 42px;
    height: calc(100% - 42px);
}

.MenuTree li {
    width: 100%;
    height: 44px;
    transition: height 0.3s;
}
.MenuTree li .item {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.MenuTree li:not(.category).selected > .item {
    background-color: white;
    color: #3F51B5;
}
.MenuTree li.category:not(.folded) {
    position: absolute;
    top: 0;
    height: 100%;
}
.MenuTree li.category:not(.folded) > .item {
    font-weight: bold;
    padding-left: 50px;
    background: rgb(244, 81, 30);
}

.MenuTree li.category::after {
    content: ' ';
    display: block;
    margin-left: 15px;
    border-bottom: 2px solid rgb(244, 81, 30);
    transition: all 0.25s ease-in-out;
}
.MenuTree li.category:not(.folded)::after {
    margin-left: 0px;
    border-color: white;
}

/* Animation */

.MenuTreeTransition-enter {
    transform: translateX(250px);
    transition: all .3s ease-in-out;
}
.MenuTreeTransition-enter-active {
    transform: translateX(0px);
}
.MenuTreeTransition-leave {
    transition: all .3s ease-in-out;
}
.MenuTreeTransition-leave-active {
    transform: translateX(250px);
}