@import "variables.css";

#framework-root {
    background-color: var(--lightColor);
}

.App .chapter {
    background-color: var(--lightColor);
    color: var(--darkerColor);
    font-size: 0.9em;
    @media(max-width: 600px) { margin-bottom: 2px; }
}

.App .chapter h1 {
    padding: 0.5em 0px;
}
