html{
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.3px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

button {
    font-size: 0.7em;
    border: none;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

button.basic-button {
    background: crimson;
    color: white;
    border-radius: 5px;
}

button.control-button {
    border: 1px solid black;
    background: #EEE;
}

button:hover:not([disabled]) {
    background: #e26f6f;
    color: white;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    transition: color 0.25s ease-in-out;
}

input[type="number"], input[type="text"], input[type="email"], input[type="search"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #444;
    border-radius: 0px;
    padding: 5px 10px;
    transition: border 0.25s ease-in-out;
}

input[type="number"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus {
    border-color: crimson;
}

select {
    height: 25px;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 0px;
    outline: none;
    color: black;
    min-width: 150px;
    appearance: none;
    border-bottom: 1px solid #444;
    transition: all 0.25s ease-in-out;
}

select:hover {
    background: #e26f6f;
    color: white;
}

[disabled] {
    pointer-events: none;
    cursor: initial;
    color: gray;
    background: lightgray !important;
}

code.terminal {
    display: block;
    background: #222;
    color: #EEE;
    padding: 5px 8px;
    margin: 20px 10px;
    border-radius: 3px;
    line-height: 2em;
    font-family: Monaco, unicode;
}

code.terminal em {
    color: #888;
}

code a {
    text-decoration: underline;
    color: rgba(255,241,118 ,1);
    transition: color 0.25s ease-in-out;
}
code a:hover {
    color: crimson;
}

.inline-row {
    padding: 20px;
}
.inline-row > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px;
}

.inline-row.controls-row > form > * {
    padding: 5px 10px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 1.1em;
}