html{
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 0.9em; */
    letter-spacing: 0.3px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

[disabled] {
    pointer-events: none;
    cursor: initial;
    color: gray;
    background: lightgray !important;
}

button {
    font-size: 0.7em;
    border: none;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover:not([disabled]) {
        background: #ff6464;
        color: white;
    }

    &.basic-button {
        background: crimson;
        color: white;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 2px #999;

        & > i {
            margin-right: 10px;
        }

        &:hover:not([disabled]) {
            box-shadow: none;
        }
    }

    &.control-button {
        border: 1px solid black;
        background: #EEE;
    }
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    transition: color 0.25s ease-in-out;
}

input[type="number"], input[type="text"], input[type="email"], input[type="search"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #444;
    border-radius: 0px;
    padding: 5px 10px;
    transition: border 0.25s ease-in-out;

    &:focus {
        border-color: crimson;
    }
}

select {
    height: 25px;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 0px;
    outline: none;
    color: black;
    min-width: 150px;
    appearance: none;
    border-bottom: 1px solid #444;
    transition: all 0.25s ease-in-out;

    &:hover {
        background: #e26f6f;
        color: white;
    }
}

code {
    & a {
        text-decoration: underline;
        color: rgba(255,241,118 ,1);
        transition: color 0.25s ease-in-out;

        &:hover {
            color: crimson;
        }
    }
    &.terminal {
        display: block;
        background: #222;
        color: #EEE;
        padding: 5px 8px;
        margin: 20px 10px;
        border-radius: 3px;
        line-height: 2em;
        font-family: Monaco, unicode;

        & em {
            color: #888;
        }
    }
}

.inline-row {
    padding: 20px;

    & > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0px 15px;
    }

    & > form > * {
        padding: 5px 10px;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
    }
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 1.1em;
}
