html{
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sansSerifFont);
    /* font-size: 0.9em; */
    letter-spacing: 0.3px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

[disabled] {
    pointer-events: none;
    cursor: initial;
    color: gray;
    background: lightgray !important;
}

button {
    font-size: 0.7em;
    border: none;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover:not([disabled]) {
        background: var(--accentColorLight);
        color: white;
    }

    &.basic-button {
        background: var(--accentColor);
        color: white;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 2px #999;

        & > i {
            margin-right: 10px;
        }

        &:hover:not([disabled]) {
            box-shadow: none;
        }
    }

    &.control-button {
        border: 1px solid black;
        background: var(--lightColor);
    }
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    transition: color 0.25s ease-in-out;
}

input[type="number"], input[type="text"], input[type="email"], input[type="search"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--darkerColor);
    border-radius: 0px;
    padding: 5px 10px;
    transition: border 0.25s ease-in-out;

    &:focus {
        border-color: var(--accentColor);
    }
}

select {
    height: 25px;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 0px;
    outline: none;
    color: black;
    min-width: 150px;
    appearance: none;
    border-bottom: 1px solid var(--darkerColor);
    transition: all 0.25s ease-in-out;

    &:hover {
        background: #e26f6f;
        color: white;
    }
}

code {
    & a {
        text-decoration: underline;
        color: rgba(255,241,118 ,1);
        transition: color 0.25s ease-in-out;

        &:hover {
            color: var(--accentColor);
        }
    }
    &.terminal {
        display: block;
        background: #222;
        color: var(--lightColor);
        padding: 5px 8px;
        margin: 20px 10px;
        border-radius: 3px;
        line-height: 2em;
        font-family: Monaco, unicode;

        & em {
            color: var(--darkColor);
        }
    }
}

.inline-row {
    padding: 20px;

    & > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0px 15px;
    }

    & > form > * {
        padding: 5px 10px;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
    }
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 1.1em;
}

.bubble-icon {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    margin-right: 20px;
    text-align: center;
    border-radius: 4em;
    color: #EEE;
    background: rgba(255, 255, 255, 0.6);
    border: 5px solid #AAA;
    box-shadow: 0 0 3px #EEE;
    text-shadow: 0 0 1px #EEE;

    &.large {
        width: 2em;
        height: 2em;
        & > i { font-size: 1.2em }
    }
    &.dark {
        background: rgba(0, 0, 0, 0.7);
        border: 5px solid #BBB;
        box-shadow: 0px 0px 3px #000;
        & > i { text-shadow: 0 0 1px #000; }
    }
    & > i {
        font-size: 1em;
        font-style: normal;
        display: block;
    }

    &.red { color: rgba(229,57,53 ,1); }
    &.blue { color: rgba(30,136,229 ,1); }
    &.green { color: rgba(76,175,80 ,1); }
    &.accent { color: var(--accentColor); }
    &.emphasis { color: var(--emphasisColor); }
    &.darker-color { color: var(--darkerColor); }
}

.shadow-icon {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    height: 1em;
    width: 1em;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
