footer {
    position: relative;
    z-index: 5;
    text-align: center;
    color: var(--lightColor);
    background: inherit;
    padding: 20px 0px;
    font-size: 0.8em;
    border-top: 4px solid var(--accentColor);
    letter-spacing: 1px;

    & > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0px;

        &.logo {
            margin-right: 10px;
            & img {
                height: 3.5em;
                vertical-align: middle
            }
        }

        &.icons {
            margin-right: 5px;
            & > div {
                margin: 4px 0px;
            }
             & i.fa {
                font-weight: bold;
            }
        }

        &.text {
            text-align: left;

            & > div {
                margin: 4px 0px;
            }
        }
    }
}