header {
    position: relative;
    background-color: var(--darkerColor);
    color: var(--accentColor);
    font-size: 1.7rem;
    padding: 0px 10%;
    height: 1.7em;

    & a:hover {
        color: white;
    }

    & .title {
        display: inline-block;
        vertical-align: middle;
        background-color: rgb(220, 20, 60);
        padding: 0 20px 0 10px;
        color: var(--lighterColor);
        font-family: var(--serifFont);
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 10px;

        & * { display: inline-block; vertical-align: middle; }
        &:hover a { color: var(--darkerColor); }
        & img { height: 1.7em; }
    }

    & > .github-link {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 1.7em;
        width: 50px;

        & > svg {
            height: calc(100% - 10px);
            width: 100%;
            padding: 6px 0px;
            fill: var(--accentColor);
            transition: fill 0.25s ease-in-out;

            &:hover { fill: white; }
        }
    }

    & .frameworks {
        float: right;
        height: 100%;

        & > div {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            border-bottom: 4px solid var(--darkerColor);

            transition: border .25s ease-in-out;
            & img {
                height: 100%;
                vertical-align: middle;
                width: 2em;
                padding: 0px 10px;
                cursor: pointer;
                transition: all .25s ease-in-out;
            }

            &:hover {
                border-color: var(--lighterColor);
                & img {
                    transform: scale(1.2);
                    filter: drop-shadow(0px 0px 1px #000);
                }
            }
            &.selected { border-color: white; }
        }
    }
}
