:root {
    --lightColor:       #EEE;
    --lighterColor:     white;
    --darkColor:        #888;
    --darkerColor:      #444;
    --accentColor:      #dc143c;
    --accentColorLight: #ff6262;
    --emphasisColor:    rgba(255, 235, 59, 0.40);
    --serifFont:        'Cormorant Garamond', serif;
    --sansSerifFont:    'Open Sans', sans-serif;
}
