<footer>
    <div class="logo">
        <a href="{{#if path}}{{path}}{{else}}..{{/if}}">
            <img src="{{#if path}}{{path}}{{else}}..{{/if}}/assets/bosket-logo.svg" />
        </a>
    </div>
    <div class="icons">
        <div><i class="fa fa-code" aria-hidden="true"></i></div>
        <div><i class="fa fa-copyright" aria-hidden="true"></i></div>
        <div><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
    </div>
    <div class="text">
        <div><a href="https://github.com/elbywan" target="_blank" rel="noopener noreferrer">Julien Elbaz</a></div>
        <div><a href="https://github.com/elbywan/bosket/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">2017</a></div>
        <div><a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">MIT License</a></div>
    </div>
</footer>