<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bosket</title>
    <link rel="stylesheet" href="./assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        section {
            padding-bottom: 50px;
        }
        section .chapter {
            padding: 30px 10% !important;
            border-top: 3px solid #505050;
        }
        section .chapter p, .chapter ul {
            font-size: 1.2em;
        }
        h1, h2 {
            text-shadow: 1px 0px #2F2F2F;
        }
        h2 {
            padding-top: 30px;
        }
    </style>
</head>

<body>
    {{> ./templates/header path="." }}
    <section>
        <div class="subtitle">
            <p>
                Bosket is a collection of front-end tree view components.<br>
                A versatile, powerful and simple way to display nested data.
            </p>
            <div class="tree-svg">
                {{> ./templates/tree-svg }}
            </div>
        </div>
        <div>
            <div class="chapter serif">
                <h1>Why Bosket ?</h1>
                <div>
                    <h2 class="highlight">Purpose</h2>
                    <p>
                        Bosket is a library of tree views implementations for well known front-end reactive frameworks such as Angular or React.<br>
                        Tree views, which are basically an elegant way to display nested lists, are very versatile and can for example be used as file explorers, menus, table of contents or category lists.<br>
                        <br>
                        The core logic is written in plain javascript, without any dependencies.<br>
                        Framework implementations rely on this very same code, which makes new implementations easy to write and by extension new frameworks easy to support.
                    </p>
                </div>
                <div>
                    <h2 class="highlight">Features</h2>
                    <p>
                        Bosket supports advanced features out of the box, such as :
                    </p>
                    <ul class="highlight-list">
                        <li>Drag and drop</li>
                        <li>Multiple, single or custom selection</li>
                        <li>Asynchronous loading and caching of children</li>
                        <li>Search, sort and filter</li>
                        <li>Keyboard modifiers</li>
                    </ul>
                    <p>
                        And more.
                    </p>
                </div>
                <div>
                    <h2 class="highlight">Flexibility</h2>
                    <p>
                        Appearance is controlled with CSS, and can be tweaked completely to suit your needs.<br>
                        Bosket exposes numerous javascript hooks to easily enable/disable/modify almost every feature and behaviour.<br>
                    </p>
                </div>
            </div>
            <div class="chapter serif">
                <h1 id="Setup">Setup</h1>

                <h2 class="highlight">As a dependency</h2>

                <p>Installing as a package dependency is the easiest and recommended way.</p>

                <code class="terminal">
                    <span class="keyword">npm</span> i -D bosket
                </code>

                <h2 class="highlight">By cloning the repository</h2>

                <p>Best if you would like to hack a bit and contribute.</p>

                <code class="terminal">
                    <em># Clone the master branch from the git repository</em><br>
                    <span class="keyword">git</span> clone https://github.com/elbywan/bosket<br>
                    <span class="keyword">cd</span> bosket<br>
                    <em># Install the dependencies</em><br>
                    <span class="keyword">npm</span> install<br>
                    <em># Development build with hot-reload served on localhost:8080</em><br>
                    <span class="keyword">npm</span> run dev-server<br>
                    <em># Production build</em><br>
                    <span class="keyword">npm</span> start<br>
                </code>

                <p>After a build, you will find the generated files inside the /build folder.</p>
            </div>

            <div class="chapter">
                <h1>Frameworks</h1>

                <h2>Pick your framework of choice :</h2>

                <div class="framework-choice">
                    <div>
                        <a href="./react/index.html"><img src="./assets/react.svg" alt="react-logo" class="react"/></a>
                        <div>
                            <h3><a href="./react/index.html">React</a></h3>
                            <a href="https://facebook.github.io/react/" target="_blank">“A javascript library for building user interfaces.”</a>
                        </div>
                    </div>
                    <div>
                        <a href="./angular/index.html"><img src="./assets/angular.svg" alt="angular-logo" /></a>
                        <div>
                            <h3><a href="./angular/index.html">Angular</a></h3>
                            <a href="https://angular.io/" target="_blank">“One framework. Mobile & desktop.”</a>
                        </div>
                    </div>
                    <div>
                        <a href="./vue/index.html"><img src="./assets/vue.svg" alt="vue-logo" /></a>
                        <div>
                            <h3><a href="./vue/index.html">Vue</a></h3>
                            <a href="https://vuejs.org" target="_blank">“The Progressive JavaScript Framework.”</a>
                        </div>
                    </div>
                    <div>
                        <a href="./riot/index.html"><img src="./assets/riot-logo.svg" alt="riot-logo" /></a>
                        <div>
                            <h3><a href="./riot/index.html">Riot</a></h3>
                            <a href="http://riotjs.com/" target="_blank">“Simple and elegant component-based UI library.”</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> ./templates/footer path="." }}
</body>

</html>
